[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.testvideodemo
Exec=/usr/bin/ru.auroraos.testvideodemo
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=testvideodemo
ExecDBus=/usr/bin/ru.auroraos.testvideodemo
